.width {
  width: 980px;
  margin: 30px auto;
}

section {
  margin-top: 50px;
}

label {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.needMemoPi, .needPureMemoPi {
  font-weight: bold;
  font-size: 20px;
  padding: 0 4px;
}
